    <div class="container d-flex align-items-center justify-content-center">
      <footer>
        <div><p> Copyright &copy; <%= new Date().getFullYear(); %> X21111936 Oliver Coleman</p></div> 
        <div><p></i><a href="">**Facebook**</a> || <a href="">**Twitter**</a> || <a href="">**YouTube**</a> || <a href="">**Instagram**</a></p></div>
      </footer>
    </div>
</body>
</html>