<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">
  <style>
    footer{
      background-color: black;

      color:lightgrey;

      height: 70px;

      width: 100%;

      margin-top: 40px;

      padding: 20px;
      
    }

    p {text-align: center;}
    
  </style>
    
    <div id="footer">
      <footer>
        <div><p> Copyright &copy; <%= new Date().getFullYear(); %> X21111936 Oliver Coleman</p></div> 
        <div><i class='flaticon-facebook' style='font-size:24px'></i><i class='fas fa-twitter' style='font-size:24px'></i><i class='fas fa-linkedin' style='font-size:24px'></i><i class='fas fa-instagram' style='font-size:24px'></i></div>
      </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
   
</body>
</html>